﻿@model Kapasitematik_TakimOmru_v3.SubPiece

@{
    ViewBag.Title = "Takım Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--hamburger menü-->

<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
    <div class="kt-header-mobile__logo">
        <a href="index.html">
            @*<img alt="Logo" style="width:50px; height:30px;" src="~/assets/media/logos/logo.PNG" />*@
        </a>
    </div>
    <div class="kt-header-mobile__toolbar">
        <button class="kt-header-mobile__toggler kt-header-mobile__toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
        <button class="kt-header-mobile__toggler" id="kt_header_mobile_toggler"><span></span></button>
        <button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
    </div>
</div>

<!-- end:: Header Mobile -->
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

      
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
        <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

            <!-- begin:: Header Menu -->
            <!-- Uncomment this to display the close button of the panel
            <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
            -->
            <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
                    <ul class="kt-menu__nav ">
                    </ul>
                </div>
            </div>

            <!-- end:: Header Menu -->
            <!-- begin:: Header Topbar -->
            <div class="kt-header__topbar">





                <!--begin: Quick panel toggler -->
                <div class="kt-header__topbar-item kt-header__topbar-item--quick-panel" data-placement="right">
                    <span class="kt-header__topbar-icon" id="kt_quick_panel_toggler_btn">
                        @*<span style="font-size:15px; margin-right:15px;" class="flaticon2-bell-alarm-symbol btn btn-icon btn-brand btn-sm kt-pulse">
                    @foreach (var item in Model.notification)
                    {
                        <span class="badge">@Html.DisplayFor(modelItem => item.Count)</span>
                    }
                </span>*@
                    </span>
                </div>

                <!--end: Quick panel toggler -->
                <!--begin: User Bar -->
                <div class="kt-header__topbar-item kt-header__topbar-item--user">
                    <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
                        <div class="kt-header__topbar-user">
                            <span class="kt-header__topbar-welcome kt-hidden-mobile"></span>
                            <span class="kt-header__topbar-username kt-hidden-mobile">@ViewBag.Name</span>
                            <img class="kt-hidden" alt="Pic" src="assets/media/users/300_25.jpg" />

                            <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->

                        </div>
                    </div>
                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">

                        <!--begin: Head -->
                        <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-color:#1e1e2d">
                            <div class="kt-user-card__avatar">
                                @*<img class="kt-hidden" alt="Pic" src="~/assets/media/users/300_25.jpg" />*@

                                <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success"><img src="~/Images/@ViewBag.Logo" /></span>
                            </div>
                            <div class="kt-user-card__name">
                                @ViewBag.Name
                            </div>

                        </div>

                        <!--end: Head -->
                        <!--begin: Navigation -->
                        <div class="kt-notification">

                            <a href="@Url.Action("Profil", "Home")" class="kt-notification__item">
                                <div class="kt-notification__item-icon">
                                    <i class="flaticon2-calendar-3 kt-font-success"></i>
                                </div>
                                <div class="kt-notification__item-details">
                                    <div class="kt-notification__item-title kt-font-bold">
                                        Hesabım
                                    </div>
                                </div>
                            </a>
                            @using (Html.BeginForm("Logout", "Login"))
                            {
                                <div class="kt-notification__custom kt-space-between">

                                    <input type="submit" class="btn btn-label btn-label-brand btn-sm btn-bol" value="Çıkış Yap" />

                                </div>
                            }
                        </div>

                        <!--end: Navigation -->
                    </div>
                </div>

                <!--end: User Bar -->
            </div>

            <!-- end:: Header Topbar -->
        </div>
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head kt-portlet__head--lg">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <img src="/Images/@ViewBag.Logo" style="width:35px; height:35px;" />
                            @*<i class="kt-font-brand flaticon2-line-chart"></i>*@
                        </span>
                        <h3 class="kt-portlet__head-title">
                            @ViewBag.Company Parça Düzenle
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">


                    </div>
                </div>




            </div>
            <div class="row" style="margin-top:65px;">
                <div class="col-md-12">

                    <!--begin::Portlet-->
                    <div class="kt-portlet">


                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                        <div class="form-horizontal" style="padding-top:10px">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.SubPieceID)

                            <div class="form-group">
                                <label class="control-label col-md-1"></label>

                                <div class="col-md-10">
                                    <div class="input-group">

                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-cube"></i>
                                            </span>
                                        </div>
                                        @Html.EditorFor(model => model.SubPieceName, new { htmlAttributes = new { @class = "form-control", placeholder = "Parça Adı" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.SubPieceName, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1"></label>

                                <div class="col-md-10">
                                    <div class="input-group">

                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-heart-o"></i>
                                            </span>
                                        </div>
                                        @Html.EditorFor(model => model.ToolLife, new { htmlAttributes = new { @class = "form-control", placeholder = "Takım Ömrü" } })
                                        @Html.ValidationMessageFor(model => model.ToolLife, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="control-label col-md-1"></label>
                                <div class="col-md-10">
                                    <div class="input-group">

                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-navicon"></i>
                                            </span>
                                        </div>
                                        @Html.DropDownList("FKPieceID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.FKPieceID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="control-label col-md-1"></label>
                                <div class="col-md-10">
                                    <div class="input-group">

                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-navicon"></i>
                                            </span>
                                        </div>

                                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-10">
                                    <input type="submit" value="Güncelle" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                        }

                        <div>
                            @Html.ActionLink("Listeye Geri Dön", "Index")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>